footer {
    height: 100px;
    background-color: rgb(12, 12, 107);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.contenedor-redes {
    margin: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}


.copy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 20px 20px 0;
}