.cuerpo {
    padding-top: 40px;
    background-color: rgb(30, 30, 109);
    height: 1000px;
    
}


.card {
    height: 550px;
    background-color: rgb(2, 2, 164);
    border-radius: 20px;
    margin: 6rem auto 8.1rem auto;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
}

.iniciar {
   text-align: end;
   margin-right: 10px;
   padding-top: 11px;
}

.textos__1 {
    color: lightcoral;
    width: 450px;
}

.pregunta {
    text-align: center;
    margin-top: 16px;
    font-size: 30px;
}

.preguntita {
    margin-top: 16px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.usuario {
    
    margin-left: 15px;
    margin-bottom: 10px;
}

.container-barras {
    width: 450px;
}

.barras {
    margin-left: 15px;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 20px;
    width: 450px;
    
}

.boton {
    background-color: lightcoral;
    margin-left: 15px;
    width: 450px;
    height: 35px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 100%;
}

.descripcion {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 20px;
    border: solid 2px rgb(60, 60, 230);
    max-width: 100%;
    width: 450px;
}

.descripcion-1 {
    margin: 10px;
    width: 450px;
}


